body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 1rem;
}

div {
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    font-size: 2rem !important;
    display: none !important;
}

.show {
  pointer-events: none;
}

.show i {
    display: block !important;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: lightcoral;
}

.pointer-none {
  pointer-events: none;
}
